extends layout
block prepend content
	div(class="full-width")
		div(class="col-md-4")
		div(class="col-md-4")
			h2 免费注册
			hr
			form.form-horizontal(role='form',name="regform",method="post",enctype="multipart/form-data",action="/doregister")
				.form-group
					label.col-sm-2.control-label(for='inputEmail3') Email
					.col-sm-10
						input#inputEmail3.form-control(type='email',name="email" placeholder='Email')
				.form-group
					label.col-sm-2.control-label(for='inputPassword3') Password
					.col-sm-10
						input#inputPassword3.form-control(type='password',name="password",placeholder='Password')
				.form-group
					label.col-sm-2.control-label(for='inputPassword3') re-Password
					.col-sm-10
						input#inputPassword3.form-control(type='password',name="re-Password",placeholder='re-Password')
				.form-group
					.col-sm-offset-2.col-sm-10
						input.btn.btn-success(type='submit',value="注册")
						input.btn.btn-danger(type='reset',value="取消")
						a.col-sm-offset-1(href="/login")
							|已有账号,点此登录.


	