extends layout
block prepend content
	div(class="full-width")
		div(class="col-md-3")
		div(class="col-md-6")
			h2 上传文件
			hr
			form(name="uploadfiles",method="post",enctype="multipart/form-data",action="/file_upload")
				.form-group
					input.form-control(type="text",name="title",placeholder="为您的上传添加标题")
				textarea.form-control(rows="5",placeholder="请描述您上传的文件",name="desc")
				input.margin_t20.margin_b30(type="file",name="file")
				input.btn.btn-success(type="submit",value="提交")
				input.btn.btn-danger(type="reset",value="重置")
	