<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CodeSpark</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link href="/css/extra.css" rel="stylesheet">
    <link href="/css/jquery.snippet.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">CodeSpark</a>
        </div>
        <div class="navbar-collapse collapse">
          <form role="form" name="loginform" method="post" enctype="multipart/form-data" action="/dologin" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">登录</button>
          </form>
        </div>
        <!-- /.navbar-collapse-->
      </div>
    </div>
    <div class="full-width">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <pre class="javascript margin_t20"></pre>
        <h2>评论</h2>
        <hr>
        <div id="review">
          <blockquote>
            <p>hulk，前端工程师.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </blockquote>
          <blockquote>
            <p>hulk，前端工程师.</p>
            <form role="form" name="lreviewform" method="post" enctype="multipart/form-data" action="/review">
              <p></p>
              <textarea rows="3" placeholder="仅支持markdown语法." class="form-control"></textarea>
              <p></p>
              <button type="submit" class="btn btn-default col-sm-offset-10">Submit</button>
            </form>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /container-->
    <!--
    Bootstrap core JavaScript
       ================================================== 
    -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.snippet.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
      (function($){
        $("pre.javascript").snippet("css",{style:"random",clipboard:"js/ZeroClipboard.swf",showNum:true});
      }(jQuery));
    </script>
  </body>
</html>