extends layout
block prepend content
	div(class="full-width")
		div(class="col-md-1")
		div(class="col-md-10")
			h2 阅读排行榜
			hr
			table.table.table-hover
				thead
					tr
						td #
						td 代码名称
						td 代码描述
						td 发布者
						td 阅读活跃度
						td 相关笔记或注释
				tbody
					tr
						td 1
						td jquery
						td jquery源代码
						td devqin
						td +23
						td 4562
