<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CodeSpark</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link href="/css/extra.css" rel="stylesheet">
    <link href="/css/jquery.snippet.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">CodeSpark</a>
        </div>
        <div class="navbar-collapse collapse">
          <form role="form" name="loginform" method="post" enctype="multipart/form-data" action="/dologin" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">登录</button>
          </form>
        </div>
        <!-- /.navbar-collapse-->
      </div>
    </div>
    <div class="full-width">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2>免费注册</h2>
        <hr>
        <form role="form" name="regform" method="post" enctype="multipart/form-data" action="/doregister" class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">昵称</label>
            <div class="col-sm-10">
              <input id="inputEmail3" type="text" name="username" placeholder="username" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input id="inputEmail3" type="email" name="email" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input id="inputPassword3" type="password" name="password" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="注册" class="btn btn-success">
              <input type="reset" value="取消" class="btn btn-danger"><a href="/login" class="col-sm-offset-1">已有账号,点此登录.</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /container-->
    <!--
    Bootstrap core JavaScript
       ================================================== 
    -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.snippet.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
      (function($){
        $("pre.javascript").snippet("css",{style:"random",clipboard:"js/ZeroClipboard.swf",showNum:true});
      }(jQuery));
    </script>
  </body>
</html>