    <div class="full-width">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>上传文件</h2>
        <hr>
        <form name="uploadfiles" method="post" enctype="multipart/form-data" action="/file_upload">
          <div class="form-group">
            <input type="text" name="title" placeholder="为您的上传添加标题" class="form-control">
          </div>
          <textarea rows="5" placeholder="请描述您上传的文件" name="desc" class="form-control"></textarea>
          <input type="file" name="file" class="margin_t20 margin_b30">
          <input type="submit" value="提交" class="btn btn-success">
          <input type="reset" value="重置" class="btn btn-danger">
        </form>
      </div>
    </div>