extends layout
block prepend content
  link(href="/css/cover.css",rel="stylesheet")
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div.masthead.clearfix
          div.inner
            h3.masthead-brand Cover
            ul.nav.masthead-nav
              li.active
                a(href='#') Home
              li
                a(href='#') Features
              li
                a(href='#') Contact
        div.inner.cover
          h1.cover-heading Cover your page.
          p.lead
            | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
          p.lead
            a.btn.btn-lg.btn-default(href='#') Learn more
        div.mastfoot
          div.inner
            p
              | Cover template for
              a(href='http://getbootstrap.com') Bootstrap
              | , by
              a(href='https://twitter.com/mdo') @mdo
              | .
